In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## Get n-year gradients

Take the 1, 5 and 10-year time-differences of the BS score for each patient.

In [3]:
bs_df = pd.read_excel('../data/bs_normed_full.xls', index_col=0)

def get_grad(df, n):
    return df.diff(n)

for n in [1,5,10]:
    bs_df[f'{n}_grad'] = bs_df.groupby('patient_id')['BS'].transform(lambda x: get_grad(x, n))

bs_df.head()

              BS  norm_years  1_grad  5_grad  10_grad
patient_id
40          2.96           0     NaN     NaN      NaN
40          3.00           1    0.04     NaN      NaN
40          3.20           2    0.20     NaN      NaN
40          3.10           3   -0.10     NaN      NaN
40          3.40           4    0.30     NaN      NaN

### Get the average n-year gradient for each patient

In [5]:
mean_bs_df = bs_df.groupby('patient_id').apply(np.mean)
mean_bs_df.head()

                  BS  norm_years    1_grad    5_grad   10_grad
patient_id
40          3.217368         9.0  0.013333  0.172143  0.067778
41          5.171429         3.0  0.255000  1.295000       NaN
43          1.454250         9.5 -0.006842 -0.121048 -0.417500
44          5.498810        10.0  0.124000  0.910625  2.137727
45          2.231667         5.5 -0.061818  0.017143 -0.640000