In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## Get n-year gradients

Take the 1, 5 and 10-year time-differences of the BS score for each patient.

In [35]:
bs_df = pd.read_excel('../data/bs_normed_full.xls', index_col=0)

def get_grad(df, n):
    return df.diff(n)


for n in [1,5,10]:
    bs_df[f'{n}_grad'] = bs_df.groupby('patient_id')['BS'].transform(lambda x: get_grad(x, n))

bs_df.head(10)

              BS  norm_years  1_grad  5_grad  10_grad
patient_id
40          2.96           0     NaN     NaN      NaN
40          3.00           1    0.04     NaN      NaN
40          3.20           2    0.20     NaN      NaN
40          3.10           3   -0.10     NaN      NaN
40          3.40           4    0.30     NaN      NaN
40          3.10           5   -0.30    0.14      NaN
40          3.60           6    0.50    0.60      NaN
40          3.50           7   -0.10    0.30      NaN
40          3.00           8   -0.50   -0.10      NaN
40          2.80           9   -0.20   -0.60      NaN
40          2.87          10    0.07   -0.23    -0.09
40          2.73          11   -0.14   -0.87    -0.27
40          3.00          12    0.27   -0.50    -0.20
40          2.80          13   -0.20   -0.20    -0.30
40          2.87          14    0.07    0.07    -0.53
40          3.40          15    0.53    0.53     0.30
40          4.00          16    0.60    1.27     0.40
40          4.60          17    0.60    1.60     1.10
40          3.20          18   -1.40    0.40     0.20
41          4.07           0     NaN     NaN      NaN

In [39]:
mean_bs_df = bs_df.groupby('patient_id').apply(np.mean)
mean_bs_df

                  BS  norm_years        1_grad    5_grad   10_grad
patient_id
40          3.217368         9.0  1.333333e-02  0.172143  0.067778
41          5.171429         3.0  2.550000e-01  1.295000       NaN
43          1.454250         9.5 -6.842105e-03 -0.121048 -0.417500
44          5.498810        10.0  1.240000e-01  0.910625  2.137727
45          2.231667         5.5 -6.181818e-02  0.017143 -0.640000
46          3.017308        12.5  2.400000e-02  0.119048  0.290625
47          3.587500         5.5 -1.818182e-02  0.014286 -0.300000
50          0.437143        10.0 -2.000000e-02 -0.052083 -0.065714
51          4.135833        11.5  1.173913e-01  0.628421  1.224286
52          1.980952        10.0 -3.250000e-02 -0.146875  0.213636
53          6.470000         9.5  1.331579e-01  0.413333  0.720000
54          5.420000         7.0  1.107143e-01  0.335000  0.670000
55          3.645500         4.5  1.700000e-01  0.889000       NaN
57          1.576316         9.0  7.222222e-03  0.116429  0.050000
59          5.679722         8.5  6.352941e-02  0.243231  0.556250
60          5.307750         9.5  1.736842e-01  0.715667  1.225500
61          4.446000         9.5  1.000000e-01  0.438667  0.688000
63          1.445455         5.0 -8.000000e-02 -0.283333 -0.800000
65          2.477561        20.0  3.166667e-02  0.145370  0.445806
67          1.681111         8.5  6.764706e-02  0.496923  0.976250
68          1.243600        12.0  5.694444e-02  0.377500  0.783333
69          4.131552        14.0 -2.142857e-02 -0.083333 -0.008421
70          7.403667        14.5  1.827586e-02  0.022000  0.029500
71          3.849000         7.0 -3.285714e-02  0.027500  0.055000
72          2.752000         9.5  1.736842e-02  0.184000  0.236000
73          0.797273        10.5 -1.285714e-02 -0.151176 -0.486667
75          4.127000         4.5 -1.333333e-01 -0.374000       NaN
76          1.576304        11.0  9.090909e-03  0.134444  0.379231
78          0.616875         7.5  2.220446e-17  0.093636  0.246667
79          1.580769         6.0  1.166667e-01  0.660417  1.383333
...              ...         ...           ...       ...       ...
7847        2.078571         3.0 -9.166667e-02 -1.241667       NaN
7869        2.600000         0.0           NaN       NaN       NaN
7874        2.740000         2.0 -1.250000e-02       NaN       NaN
7903        3.400000         0.0           NaN       NaN       NaN
7907        2.600000         0.0           NaN       NaN       NaN
7909        1.600000         0.0           NaN       NaN       NaN
7921        0.200000         0.0           NaN       NaN       NaN
7935        0.400000         0.0           NaN       NaN       NaN
7959        5.100000         0.5 -6.000000e-01       NaN       NaN
7960        3.750000         0.5 -1.000000e-01       NaN       NaN
7970        2.100000         0.0           NaN       NaN       NaN
7980        1.400000         0.0           NaN       NaN       NaN
7985        0.200000         0.0           NaN       NaN       NaN
7989        1.425000         0.5 -5.500000e-01       NaN       NaN
7992        0.800000         0.0           NaN       NaN       NaN
7995        1.200000         0.0           NaN       NaN       NaN
8004        1.200000         0.0           NaN       NaN       NaN
8016        3.200000         0.0           NaN       NaN       NaN
8077        1.437500         1.5 -1.500000e-01       NaN       NaN
8099        5.747500         0.5 -3.650000e-01       NaN       NaN
8102        6.111667         4.0  1.625000e-02  0.119750       NaN
8194        1.600000         0.0           NaN       NaN       NaN
8200        0.550000         0.0           NaN       NaN       NaN
8204        0.400000         0.0           NaN       NaN       NaN
8211        2.200000         0.0           NaN       NaN       NaN
8213        6.800000         0.0           NaN       NaN       NaN
8223        8.200000         0.0           NaN       NaN       NaN
8228        5.300000         0.0           NaN       NaN       NaN
8244        2.100000         0.0           NaN       NaN       NaN
8284        2.000000         0.0           NaN       NaN       NaN

[910 rows x 5 columns]